.divForm{
    width: 900px;
}

.divFoto{
    border-width: 1px;
    border-color: #bdc3c7;
    border-style: solid;
    height: 300px;
    width: 350px;
}

.divFormulario{
    padding-top: 50px;
    padding-bottom: 50px;
}

.formulario{
    padding-top: 50px;
}

.botoes{
    padding-top: 30px;
}


.textoErros {
    font-weight: 900;
    color: #c0392b;
  }
  
  .divErros {
    padding: 20px;
  }
  
  .cardErros {
    padding-top: 30px;
    padding-bottom: 30px;
  }

.mat-form-field.mat-form-field{
    width: 500px;
}